@import url("https://pages.github.homedepot.com/ux/ux-styleguide/dist/ux-styleguide.min.css");


img {
  width: 100%;
  height: 350px;
  padding-bottom: -10%;
}
h2 {
  padding-top: -20%;
}

.simple-flex {
  width: 1000px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}
/*Adding Blank Space Between Lines*/
div:empty {
  height: 1em;
  line-height: 1em;
}
/*drop menu*/
.select-container select {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #cccccc;
  background-color: #f96302;
  border-radius: 2px;
  padding: 10px;
  font-size: 18px;
  color: white;
  width: 7%;
  margin-top: 22px;
  min-height: 46px;}
/*input text box*/
  input {
    outline: none;
    box-sizing: border-box; }

  .text-input-container input:not([type]),
  .text-input-container input[type=text],
  .text-input-container input[type=number] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #cccccc;
    background-color: #fbfbfb;
    border-radius: 2px;
    padding: 10px;
    font-size: 18px;
    color: #444444;
    width: 7%;
    margin-top: 22px;
    min-height: 46px;
  }
